.navbar {
    background-color: lightblue;
    padding-bottom: 0;
}

.navbar-nav {
    background-color: white;
}

.menu-item {
    font-size: 16px;
    background-color: lightblue;
    margin: 15px;
    border-radius: 15px;
    padding: 15px;
    min-height: 1000px;
    position: relative;
}

.go-to-top {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 767px) {
  .menu-item {
    border-radius: 0;
    width: 100%;
  }

  .container > .row > .menu-item {
    margin-left: 0;
    margin-right: 0;
  }
}